@import "../../../assets/variables.scss";

.navItem {
  display: flex;
  padding: 16px 28px 16px 24px;
  align-items: center;
  border-radius: 20px;
  text-decoration: none;
  color: $dark-grey;
}

.icon {
  width: 24px;
  margin-right: 12px;
  fill: $dark-grey;
}

.navItemActive {
  background-color: $light-grey;
  color: $black;

  .icon {
    fill: $green;
  }
}
