@import "../../assets/variables.scss";

.row {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.inputPassword {
  width: 100%;
  box-sizing: border-box;
  font-size: 17px;
  padding: 16px;
  border: 1px solid $green;
  border-radius: 20px;
  margin-top: 48px;
  outline: none;
}

.forgotPassword {
  color: $green;
  font-size: 15px;
  text-decoration: none;
}

.inputError {
  color: $red;
  font-size: 15px;
}