@import "../../assets/variables.scss";

.page {
  height: 100vh;
  background-image: url("../../assets/images/authBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  box-sizing: border-box;
  height: 100%;
  padding-top: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  fill: $white;
  width: 156px;
}

.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  box-sizing: border-box;
  width: 446px;
  padding: 72px 48px;
  background-color: $white;
  border-radius: 48px;
}

.icon {
  width: 64px;
  margin-bottom: 24px;
}

.steps {
  font-size: 17px;
  color: $green;
  margin-bottom: 14px;
}

.formTitle {
  font-size: 20px;
  font-weight: bold;
  color: $black;
  margin-bottom: 13px;
}

.formSubTitle {
  font-size: 17px;
  color: $dark-grey;
}

.input {
  margin-bottom: 83px;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 70px;
  flex: 0 0 auto;
  flex-shrink: 0;
  font-size: 17px;
  color: $white;
}

.copyright {
  margin-right: 57px;
}

.footerLeft {
  display: flex;
  flex-direction: row;
}

.footerLink {
  font-size: 17px;
  color: $white;
  text-decoration: none;
}
