@import "../../assets/variables.scss";

.filterWrapper {
  position: relative;
}

.filter {
  background-image: url("../../assets/images/icons/filter.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  width: 56px;
  height: 56px;
  border-radius: 20px;
  cursor: pointer;
  border: 1px $secondary-grey-card solid;
}

.tooltip {
  position: absolute;
  bottom: -48px;
  visibility: hidden;
  right: 0;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
  background-color: $black;
  color: $white;
  padding: 7px 27px 8px 16px;
  white-space: nowrap;
  border-radius: 12px;
  font-size: 13px;
  font-weight: 800;
}

.filters {
  padding: 21px 8px 8px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
  background-color: $white;
  position: absolute;
  top: 72px;
  right: 0;
  width: 356px;
  border: 2px $secondary-grey-card solid;
  border-radius: 24px;
  box-shadow: 0 4px 16px rgba($color: $black, $alpha: 0.16);
}

.filtersTitle {
  font-size: 20px;
  font-weight: 800;
  margin-left: 16px;
  margin-bottom: 24px;
}

.show {
  visibility: visible;
  opacity: 1;
}
