@import "../../assets/variables.scss";

.choose {
  display: flex;
}

.chooseItem {
  display: flex;
  padding: 16px 27px 16px 24px;
  align-items: center;
  color: $dark-grey;
  border-radius: 20px;
}

.distanceIcon {
  width: 24px;
  fill: $dark-grey;
  margin-right: 8px;
}

.chooseItem.active {
  color: $black;
  background-color: $light-grey;
  .distanceIcon {
    fill: $green;
  }
}
