@import "../../assets/variables.scss";

.row {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.inputWrapper {
  position: relative;
  margin-top: 48px;
}

.inputPassword {
  width: 100%;
  box-sizing: border-box;
  font-size: 17px;
  padding: 16px;
  border: 1px $dark-grey-input solid;
  border-radius: 20px;
  outline: none;
}

.inputPassword:focus {
  border: 1px $green solid;
}

.inputPassword::placeholder {
  color: $grey;
}

.inputPasswordIcon {
  width: 20px;
  top: 16px;
  right: 16px;
  position: absolute;
  cursor: pointer;
  fill: $dark-grey-input
}

.forgotPassword {
  color: $green;
  font-size: 15px;
  text-decoration: none;
}

.inputError {
  color: $red;
  font-size: 15px;
}
