@import "../../assets/variables.scss";

.info {
  display: flex;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  fill: $green;
  margin-right: 24px;
}

.action {
  color: $black;
  font-size: 17px;
  margin-bottom: 4px;
  transition: color 0.3s;
}

.info {
  color: $dark-grey;
  font-size: 17px;
}

.action:hover {
  color: $green;
  cursor: pointer;
}
