$red: #e3172a;
$black: #1e1e26;
$white: #ffffff;
$blue: #008cc6;
$purple: #b81284;
$dark-grey-input: #e5e7eb;
$secondary-grey-card: #eff1f5;
$green: #239a59;
$grey: #c0c4ce;
$dark-grey: #8790a6;
$light-grey: #f5f7fb;
