@import "../../assets/variables.scss";

.card {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 16px;
  border-radius: 24px;
}

.title {
  font-size: 17px;
  font-weight: 700;
  margin-top: 16px;
  min-height: 50px;
  margin-bottom: 8px;
}

.row {
  display: flex;
}

.category {
  font-size: 15px;
  color: $green;
  margin-right: 26px;
}

.date {
  display: flex;
  font-size: 15px;
  color: $dark-grey;
}
