@import "../../assets/variables.scss";

.card {
  height: 192px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 16px;
  border-radius: 24px;
}

.distance {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: $white;
  padding: 8px 16px;
  background-color: $green;
  border-radius: 16px;
}

.distanceIcon {
  fill: $white;
  width: 16px;
  margin-right: 11px;
}

.button {
  background-color: $white;
  border-radius: 12px;
  padding: 7px 16px 8px 21px;
}

.title {
  font-size: 17px;
  font-weight: 700;
  margin-top: 16px;
  min-height: 50px;
  margin-bottom: 8px;
}

.date {
  display: flex;
  font-size: 15px;
  color: $dark-grey;
}

.dateIcon {
  margin-right: 8px;
}
