@import "../../../assets/variables.scss";

.title {
  @extend %h1;
  margin-bottom: 48px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px 30px;
}

.card {
  height: 296px;
}
