@import "../../assets/variables.scss";

.phoneForm {
  display: flex;
  padding: 10px 16px 10px 16px;
  align-items: center;
  border-radius: 20px;
  border: $green 1px solid;
}

.select {
  border: 0;
  outline: none;
  font-size: 17px;
  color: $black;
  margin-right: 16px;
}

.separator {
  width: 2px;
  height: 32px;
  background-color: $dark-grey-input;
}

.input {
  width: 100%;
  padding-left: 15px;
  font-size: 17px;
  border: none;
  outline: none;
}

.input::placeholder{
  color: $grey;
}