@import "../../../assets/variables.scss";

.title {
  @extend %h1;
  margin-bottom: 44px;
}

.details:not(:last-child) {
  margin-bottom: 46px;
}

.detailsTitle {
  font-size: 17px;
  font-weight: 800;
  color: $black;
  margin-bottom: 16px;
}

.detailsBody {
  font-size: 17px;
  color: $dark-grey;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.detailsRight,
.detailsLeft {
  width: 47%;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.image {
  width: 48px;
  height: 48px;
  border-radius: 20px;
  background-color: #333;
  margin-right: 16px;
}

.eventInfo {
  margin-bottom: 23px;
  padding: 24px;
  background-color: $light-grey;
  border-radius: 24px;
}

.eventLeft {
  display: flex;
}

.eventInfoTitle {
  min-height: 42px;
  margin-bottom: 8px;
  font-size: 17px;
  font-weight: 700;
}

.date {
  display: flex;
  font-size: 15px;
  color: $dark-grey;
}

.dateIcon {
  margin-right: 8px;
}

.distance {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: $white;
  border-radius: 16px;
}

.distanceIcon {
  width: 16px;
  fill: $green;
  margin-right: 8px;
}
